name: Build Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create plugin folder structure
        run: |
          mkdir -p build/plugins/mo2-download-manager
          cp *.py ./build/plugins/mo2-download-manager
          cp -r src ./build/plugins/mo2-download-manager
          cp README.md ./build/plugins/mo2-download-manager

      - name: Create 7z archive
        run: |
          cd build
          7z a ../mo2-download-manager-${{ github.ref_name }}.7z plugins

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mo2-download-manager-${{ github.ref_name }}
          path: ./build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: mo2-download-manager-${{ github.ref_name }}.7z
          generate_release_notes: true
